/.BoxesDslDescriptionLabelProvider.java._trace
/.BoxesDslDescriptionLabelProvider.xtendbin
/.BoxesDslLabelProvider.java._trace
/.BoxesDslLabelProvider.xtendbin
/BoxesDslDescriptionLabelProvider.java
/BoxesDslLabelProvider.java
